<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Une erreur c'est produite!</h1>
    <p>Nous travaillons à résoudre ce problème, excusez-nous pour la gêne occasionnée en attendant!</p>

<%- include('includes/end.ejs') %>